<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Seller My Service</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style">
	{include file="seller/header" /}
	<style>
		.breadcrumbs {
			padding: 0;
		}
		.page-content {
			min-height: 700px;
			padding-top: 60px;
		}
	</style>
</head>
<body>
	{include file="seller/navbar_index" nickname=$nickname /}
	{notempty name="nickname"}
		{include file="seller/navbar_login" nickname=$nickname /}
	{/notempty}

<div class="profile-header">
  <div class="container">
    <div class="profile-photo">
      <img src="/static/images/profile-07.png">
    </div>
    <div class="caption">
      {$Think.lang.view_my_account}
    </div>
    <a href="/seller/profile">
      <div class="pull-right icon-container">
        <div class="icon-lg">
          <i class="icon-profile-icon"></i>
        </div>
        <h6>{$Think.lang.view_my_info}</h6>
      </div>
    </a>
		<a href="/seller/mycases">
			<div class="pull-right icon-container active">
				<div class="icon-lg">
					<i class="icon-case-folder"></i>
				</div>
				<h6>my cases</h6>
			</div>
		</a>
    <a href="/seller/myservice">
      <div class="pull-right icon-container">
        <div class="icon-lg">
          <i class="icon-case-folder"></i>
        </div>
        <h6>{$Think.lang.view_my_service}</h6>
      </div>
    </a>
    <a href="/seller/addservice">
      <div class="pull-right icon-container">
        <div class="icon-lg">
          <i class="icon-add-new-document"></i>
        </div>
        <h6>{$Think.lang.view_add_service}</h6>
      </div>
    </a>
	{eq name='Think.session.level' value='9'}
    <a href="/seller/approve">
      <div class="pull-right icon-container">
        <div class="icon-lg">
          <i class="icon-case-folder"></i>
        </div>
        <h6>{$Think.lang.view_approve_service}</h6>
      </div>
    </a>
	{/eq}

  </div>
</div>

	<div class="main-content case-list-js">
		<div class="main-content-inner">
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<div class="page-content">
					<div class="row">
						<div class="col-xs-6 col-xs-offset-3">
							<table class="seller-case-table">
								<tbody>
								{volist name="cases" id="vo"}
								<tr>
									<td>{$vo.clientName ?? ""}</td>
									<td class="service-name-td">{$vo.serviceName ?? ""}</td>
									<td class="submit-price-td">{$vo.submitPrice.start ?? ""}</td>
									<td class="case-status-td">{$vo.status ?? ""}</td>
									<td style="text-align: right"><a class="btn btn-primary case-check-btn" reactid="{$vo._id}">check it</a> </td>
								</tr>
								{/volist}
								</tbody>
							</table>
						</div><!-- /.span -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container case-detail-js hide">
		<div class="profile-block">
			<h4>Questionnaire Answer</h4>
			<div class="profile-group">

			</div>
			<div id="modify-block">
				<div class="row" style="padding: 10px 15px 5px 15px">
					<div class="form-group">
					<label for="final-price" class="control-label" style="width: 130px; float: left">Final Price</label>
					<input type="text" id="final-price" class="col-md-3" placeholder="Final Price">
					</div>
				</div>
				<div class="row" style="padding: 10px 15px 5px 145px">
					<textarea id="mod-reason" class="col-md-5" style="padding: 10px">Describe the reason of modification</textarea>
				</div>
			</div>
			<button class="btn btn-sm btn-primary" id="case-accept">Accept</button>
			<button class="btn btn-sm btn-primary" id="case-refuse">Refuse</button>
			<button class="btn btn-sm btn-primary" id="toggle-list-btn">Check Case List</button>
		</div>
	</div>

	{include file="seller/footer_clean"  /}
	<script type="text/javascript">
		jQuery(function($) {
			var fieldAndViewName = {
				personal: {
					firstName: "First Name",
					lastName: "Surname",
					gender: "Gender",
					maritalStatus: "Marital Status",
					personalEmail: "Contact Email",
					bornCountry: "Country of Birth",
					nationality: "Nationality",
					personalCellphone: "Cellphone Number",
					passportIssueDate: "Issuance Date of Passport",
					passportExpireDate: "Expiration Date of Passport",
					passportIssueCountry: "Issuance Country of Passport"
				},
				address: {
					mailingStreet: "Mailing Address Street",
					mailingApt: "Mailing Address Apt.",
					mailingCity: "Mailing Address City",
					mailingState: "Mailing Address State",
					mailingZip: "Mailing Address Zip",
					consulateState: "Consulate Address State",
					consulateApt: "Consulate Address Apt",
					consulateStreet: "Consulate Address Street",
					consulateCity: "Consulate Address City"
				},
				documents: {
					status: "Visa Status",
					statusExpireDate: "Status Expire Date"
				},
				relatives: {
					relativeFirstName: "First Name of Relative",
					relativeLastName: "Last Name of Relative",
					relationship: "Relationship"
				},
				education: {
					schoolName: "Name of School",
					educationCity: "City of School",
					educationState: "State of School",
					educationZip: "Zip of School",
					educationCountry: "Country of School",
					degree: "Degree",
					major: "Major",
					receivedDate: "received date"
				},
				employment: {
					employerName: "Employer Name",
					employmentCity: "Employer City",
					employmentState: "Employer State",
					employmentCountry: "Employer Country",
					jobTitle: "Job Title",
					jobDescription: "Job Description",
					employmentStart: "Start Date of Employment",
					employmentEnd: "End Date of Employment"
				}
				/*address: [
				 "mailingStreet", "mailingApt", "mailingCity", "mailingState", "mailingZip",
				 "consulateStreet", "consulateApt", "consulateCity", "consulateState", "consulateZip", "consulateCountry"
				 ],
				 documents: [
				 "status", "statusExpireDate"
				 ],
				 relatives: [
				 "relationship", "gender",
				 "relativeFirstName", "relativeLastName"
				 ],
				 education: [
				 "schoolName", "educationCity", "educationState", "educationZip",
				 "educationCountry", "degree", "major", "receivedDate"
				 ],
				 employment: [
				 "employerName", "jobTitle", "jobDescription",
				 "employmentCity", "employmentState", "employmentCountry", "employmentZip",
				 "employmentStart", "employmentEnd"
				 ]*/
			};

			var fieldName = {
				personal: [
						"firstName", "lastName", "gender", "maritalStatus",
						"personalEmail", "bornCountry", "nationality", "personalCellphone",
						"passportIssueDate", "passportExpireDate", "passportIssueCountry"
				],
				address: [
				 "mailingStreet", "mailingApt", "mailingCity", "mailingState", "mailingZip",
				 "consulateStreet", "consulateApt", "consulateCity", "consulateState", "consulateZip", "consulateCountry"
				 ],
				documents: [
				 "status", "statusExpireDate"
				 ],
				relatives: [
				 "relationship", "gender",
				 "relativeFirstName", "relativeLastName"
				 ],
				education: [
				 "schoolName", "educationCity", "educationState", "educationZip",
				 "educationCountry", "degree", "major", "receivedDate"
				 ],
				employment: [
				 "employerName", "jobTitle", "jobDescription",
				 "employmentCity", "employmentState", "employmentCountry", "employmentZip",
				 "employmentStart", "employmentEnd"
				 ]
			};

			function QuestionAnswer(field, viewName, answer) {
				this.field =field;
				this.viewName = viewName;
				this.answer = answer;
			}
			QuestionAnswer.prototype = {
				constructor: QuestionAnswer,
				getField: function () {
					return this.field
				},
				getViewName: function () {
					return this.viewName
				},
				getAnswer: function () {
					return this.answer;
				}
			};

			function CategoryAnswer(name, answer, fieldAndView) {
				this.name = name;
				this.questionAnswers = [];
				console.log(fieldAndView);

				if(answer.hasOwnProperty('num')) {
					for(var i = 1; i <= parseInt(answer.num); i++){
						for(var prop in fieldAndView) {
							var answerProp = prop + i.toString();
							if(fieldAndView.hasOwnProperty(prop) && answer.hasOwnProperty(answerProp)) {
								this.questionAnswers.push(new QuestionAnswer(answerProp, fieldAndView[prop] + " " + i.toString(), answer[answerProp]))
							}
						}
					}
				}
				else{
					for(var prop in answer)
						if(answer.hasOwnProperty(prop) && fieldAndView.hasOwnProperty(prop))
							this.questionAnswers.push(new QuestionAnswer(prop, fieldAndView[prop], answer[prop]));
				}
			}
			CategoryAnswer.prototype = {
				constructor: CategoryAnswer,

				getName: function () {
					return this.name;
				},

				generateViewForEachQ: function () {
					var templateHTML = "";
					for(var prop in this.questionAnswers){
						if(this.questionAnswers.hasOwnProperty(prop)){
							templateHTML += '<div class="profile-table-row">';
							templateHTML += '<div class="profile-td col-md-4">';
							templateHTML += this.questionAnswers[prop].getViewName(); templateHTML += '</div>';
							templateHTML += '<div class="profile-td col-md-8">';
							templateHTML += this.questionAnswers[prop].getAnswer();
							templateHTML += '</div></div>';
						}
					}
					return templateHTML;
				},

				generateView: function () {
					var templateHTML = '<div class="profile-panel-heading" role="tab" id="headingOne"><h5 class="panel-title">'+ this.getName() +'</h5> </div>';
					templateHTML += '<div id="collapseOne" class="profile-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"><div class="profile-table">';
					templateHTML += this.generateViewForEachQ();
					templateHTML += '</div></div>';
					return templateHTML;
				}
			};

			function AnswerOfPerson(checklist, peopleIndex) {
				var answers = checklist[peopleIndex.toString()];
				for(var index = 0; index < checklist["include"].length; index++) {
					var queryName = checklist["include"][index];
					this[queryName] = this.getQueryBlock(answers, queryName);
				}
			}
			AnswerOfPerson.prototype = {
				constructor: AnswerOfPerson,

				getQueryBlock: function (answers, queryName) {
					for(var index = 0; index < answers.length; index++){
						if(answers[index].hasOwnProperty(queryName))
							return new CategoryAnswer(queryName, answers[index][queryName], fieldAndViewName[queryName] || {});
					}
					return {};
				},

				getAnswers: function (category) {
					return this[category].getAnswer();
				},

				generateView: function () {
					var templateHTML = "";
					for(var prop in this){
						if(this.hasOwnProperty(prop)){
							templateHTML += '<div class="profile-row panel">' + this[prop].generateView() + '</div>'
						}
					}
					return templateHTML;
				}
			};

			function LawyerCase(checklist) {
				this.checklist = checklist;
				this.queries = [];
				this.parentSelector = ".case-detail-js .profile-group";
				var index = 0, len = this.getPeopleNum();
				for(; index < len; index++) {
					this.queries.push(new AnswerOfPerson(checklist, index));
				}
			}
			LawyerCase.prototype = {
				constructor: LawyerCase,

				getPeopleNum: function () {
					var index = 0;
					while(this.checklist.hasOwnProperty(index.toString())) {
						index ++;
					}
					return index;
				},

				generateView: function () {
					var templateHTML = "";
					templateHTML += this.queries[0].generateView();
					return templateHTML;
				},

				appendToParent: function () {
					$(this.parentSelector).append(this.generateView());
				}
			};

			function BasicInfo(caseid, name, price) {
				this.caseid = caseid
				this.name = name;
				this.price = price;
			}
			BasicInfo.prototype = {
				constructor: BasicInfo,
				generateView: function () {
					var templateHTML = "<div class='profile-row panel'>";
					templateHTML += '<div class="profile-panel-heading" role="tab" id="headingOne"><h5 class="panel-title">Basic Info</h5> </div>';
					templateHTML += '<div class="profile-collapse"><div class="profile-table">';
					templateHTML += '<div class="profile-table-row"><div class="profile-td col-md-4">Service Name</div>  <div class="profile-td col-md-8">'+ this.name + '</div></div>';
					templateHTML += '<div class="profile-table-row"><div class="profile-td col-md-4">Price</div>  <div class="profile-td col-md-8">'+ this.price.start + " "
							+ this.price.max + '</div></div>';
					templateHTML += '</div></div></div>';
					return templateHTML;
				}
			};
			var basicInfo = {};
			$('.case-check-btn').click(function (e) {
				e.preventDefault();
				var $this = $(this);
				var caseid = $this.attr('reactid');
				console.log(caseid);
				$.ajax({
					url: "/seller/getcaseinfo",
					method: "GET",
					data: {
						caseid: caseid
					}
				}).done(function (data) {
					console.log(data);
					var tdSe = $this.parent();
					basicInfo = new BasicInfo(caseid, tdSe.siblings('.service-name-td').text(), {
						start: tdSe.siblings('.submit-price-td').text(),
						max: ""
					});
					$("#final-price").val(basicInfo.price.start);
					$(".case-detail-js .profile-group").append(basicInfo.generateView());
					var lawyerCase = new LawyerCase(data.caseinfo);
					lawyerCase.appendToParent();
					$(".case-detail-js").toggleClass('hide');
					$(".case-list-js").toggleClass('hide');
				});
			});

			$('#case-accept').click(function () {
				$.ajax({
					url: "/seller/update",
					method: "POST",
					data: {
						oper: 'approveCase',
						caseid: basicInfo.caseid,
						finalPrice: $("#final-price").val()
					}
				}).done(function (data) {
					console.log(data);
					window.location.reload();
				});
			});

			$('#case-refuse').click(function () {
				$.ajax({
					url: "/seller/update",
					method: "POST",
					data: {
						oper: 'rejectsCase',
						caseid: basicInfo.caseid,
					}
				}).done(function (data) {
					console.log(data);
				});
			});

			$('#toggle-list-btn').click(function (e) {
				e.preventDefault();
				$(".case-detail-js .profile-group").empty();
				$(".case-detail-js").toggleClass('hide');
				$(".case-list-js").toggleClass('hide');
			});
		});
	</script>
</body>
</html>
