<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Seller My Service</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style">
	{include file="seller/header" /}
	<style>
		.breadcrumbs {
			padding: 0;
		}
		.page-content {
			min-height: 700px;
			padding-top: 60px;
		}
		.nowrap-ellipis-line{
			white-space: nowrap;
			overflow: hidden;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
		}
		.center-flex{
			display: flex;
			align-items:center;
		}
		.case-list-group{
			width: 1000px;
			margin: auto;
			margin-top: 50px;
			margin-bottom: 50px;
			min-height: 100px;
		}
	</style>
</head>
<body>
	{include file="seller/navbar_index" nickname=$nickname /}
	{notempty name="nickname"}
		{include file="seller/navbar_login" nickname=$nickname /}
	{/notempty}
<div class="profile-header">
  <div class="container">
    <div class="profile-photo">
      <img src="/static/images/profile-07.png">
    </div>
    <div class="caption">
      {$Think.lang.view_my_account}
    </div>
    <a href="/seller/profile">
      <div class="pull-right icon-container">
        <div class="icon-lg">
          <i class="icon-profile-icon"></i>
        </div>
        <h6>{$Think.lang.view_my_info}</h6>
      </div>
    </a>
		<a href="/seller/mycases">
			<div class="pull-right icon-container active">
				<div class="icon-lg">
					<i class="icon-case-folder"></i>
				</div>
				<h6>my cases</h6>
			</div>
		</a>
    <a href="/seller/myservice">
      <div class="pull-right icon-container">
        <div class="icon-lg">
          <i class="icon-case-folder"></i>
        </div>
        <h6>{$Think.lang.view_my_service}</h6>
      </div>
    </a>
    <a href="/seller/addservice">
      <div class="pull-right icon-container">
        <div class="icon-lg">
          <i class="icon-add-new-document"></i>
        </div>
        <h6>{$Think.lang.view_add_service}</h6>
      </div>
    </a>
	{eq name='Think.session.level' value='9'}
    <a href="/seller/approve">
      <div class="pull-right icon-container">
        <div class="icon-lg">
          <i class="icon-case-folder"></i>
        </div>
        <h6>{$Think.lang.view_approve_service}</h6>
      </div>
    </a>
	{/eq}

  </div>
</div>
	<div class="container">
		<ul class="list-group case-list-group">
			<li class="list-group-item">
				<div class="row center-flex">
					<div class="col-sm-6 nowrap-ellipis-line">Service Name</div>
					<div class="col-sm-3 nowrap-ellipis-line">Client Name</div>
					<div class="col-sm-2">Price</div>
					<div class="col-sm-1"></div>
				</div>
			</li>
			{volist name="cases" id="vo"}
			<li class="list-group-item">
				<div class="row center-flex">
					<div class="col-sm-6 nowrap-ellipis-line">{$vo.serviceName ?? ""}</div>
					<div class="col-sm-3 nowrap-ellipis-line">{$vo.clientName ?? ""}</div>
					<div class="col-sm-2">{$vo.submitPrice.start ?? ""}</div>
          <div class="col-sm-1"><a href="/seller/casedetail/id/{$vo.caseID}"><button class="btn btn-default">view</button></a> </div>
				</div>
			</li>
			{/volist}
		</ul>
	</div>
	{include file="seller/footer_clean"  /}
</body>
</html>
