<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Seller My Service</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style">
	{include file="seller/header" /}
	<style>
		.breadcrumbs {
			padding: 0;
		}
		.page-content {
			min-height: 700px;
			padding-top: 60px;
		}
	</style>
</head>
<body>
	{include file="seller/navbar_index" nickname=$nickname /}
	{notempty name="nickname"}
		{include file="seller/navbar_login" nickname=$nickname /}
	{/notempty}

<div class="profile-header">
  <div class="container">
    <div class="profile-photo">
      <img src="/static/images/profile-07.png">
    </div>
    <div class="caption">
      {$Think.lang.view_my_account}
    </div>
    <a href="/seller/profile">
      <div class="pull-right icon-container">
        <div class="icon-lg">
          <i class="icon-profile-icon"></i>
        </div>
        <h6>{$Think.lang.view_my_info}</h6>
      </div>
    </a>

		<a href="/seller/mycases">
			<div class="pull-right icon-container">
				<div class="icon-lg">
					<i class="icon-case-folder"></i>
				</div>
				<h6>my cases</h6>
			</div>
		</a>

    <a href="/seller/myservice">
      <div class="pull-right icon-container active">
        <div class="icon-lg">
          <i class="icon-case-folder"></i>
        </div>
        <h6>{$Think.lang.view_my_service}</h6>
      </div>
    </a>

    <a href="/seller/addservice">
      <div class="pull-right icon-container">
        <div class="icon-lg">
          <i class="icon-add-new-document"></i>
        </div>
        <h6>{$Think.lang.view_add_service}</h6>
      </div>
    </a>
	{eq name='Think.session.level' value='9'}
    <a href="/seller/approve">
      <div class="pull-right icon-container">
        <div class="icon-lg">
          <i class="icon-case-folder"></i>
        </div>
        <h6>{$Think.lang.view_approve_service}</h6>
      </div>
    </a>
	{/eq}

  </div>
</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<div class="page-content">
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">
							<table id="simple-table" class="table  table-bordered table-hover">
								<thead>
								<tr>
									<th class="detail-col">详情</th>
									<th>服务名称</th>
									<th>服务价格</th>
									<th class="hidden-480">创建日期</th>

									<th>
										<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
										更新日期
									</th>
									<th class="hidden-480">状态</th>

									<th></th>
								</tr>
								</thead>
								<tbody>
								{volist name="service" id="vo"}
								<tr  service-id="{$vo._id}" class="{$vo.status == '删除' ? 'hide' : ''}">

									<td class="center">
										<div class="action-buttons">
											<a href="#" class="green bigger-140 show-details-btn" title="Show Details">
												<i class="ace-icon fa fa-angle-double-down"></i>
												<span class="sr-only">Details</span>
											</a>
										</div>
									</td>

									<td>
										{$vo.name ?? ''}
									</td>
									<td>
										<?php
											if ($vo["type"] == "customized"){
												echo $vo["price"]["start"] + " - " + $vo["price"]["max"];
											}
											else{
												echo isset($vo["price"]["start"]) ? $vo["price"]["start"] : "";
											}
										?>
									</td>
									<td class="hidden-480">{$vo.cMM ?? ''}-{$vo.cDD ?? ''}</td>
									<td>{$vo.cMM ?? ''}-{$vo.cDD ?? ''}</td>

									<td class="hidden-480">
										<span class="label label-sm label-warning service-status-js">{$vo.status ?? ''}</span>
									</td>

									<td>
										<div class="hidden-sm hidden-xs btn-group">

											<a href="/seller/view/id/{$vo._id}">
												<button class="btn btn-xs btn-info">
													<i class="ace-icon fa fa-pencil bigger-120"></i>
												</button>
											</a>

											<button class="btn btn-xs btn-danger">
												<i class="ace-icon fa fa-trash-o bigger-120"></i>
											</button>

										</div>

										<div class="hidden-md hidden-lg">
											<div class="inline pos-rel">
												<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"
																data-position="auto">
													<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
												</button>

												<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
													<li>
														<a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
																			<span class="blue">
																				<i class="ace-icon fa fa-search-plus bigger-120"></i>
																			</span>
														</a>
													</li>

													<li>
														<a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
														</a>
													</li>

													<li>
														<a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</td>
								</tr>
								<tr class="detail-row"  service-id="{$vo._id}">
									<td colspan="8">
										<div class="table-detail">
											<div class="row">

												<div class="col-xs-12 col-sm-8 col-sm-offset-2">
													<div class="space visible-xs"></div>

													<div class="profile-user-info profile-user-info-striped">

														<div class="profile-info-row">
															<div class="profile-info-name">服务地区</div>

															<div class="profile-info-value">
																<i class="fa fa-map-marker light-orange bigger-110"></i>
																<span>{$vo.area ?? ""}</span>
															</div>
														</div>

														<div class="profile-info-row">
															<div class="profile-info-name">所属分类</div>

															<div class="profile-info-value">
																<span class="category-js">{$vo.categories ?? ""}</span>
															</div>
														</div>

														<div class="profile-info-row">
															<div class="profile-info-name">服务类型</div>

															<div class="profile-info-value">
																<span>{$vo.type ?? ""}</span>
															</div>
														</div>

														<div class="profile-info-row">
															<div class="profile-info-name">服务描述</div>

															<div class="profile-info-value">
                              <span>{$vo.description ?? ""}</span>
															</div>
														</div>

													</div>
												</div>

											</div>
										</div>
									</td>
								</tr>
								{/volist}
								</tbody>
							</table>
						</div><!-- /.span -->
					</div>
				</div>
			</div>
		</div>
	</div>


	{include file="seller/footer_clean"  /}
	<script type="text/javascript">
		jQuery(function($) {
			//initiate dataTables plugin

			////

			setTimeout(function() {
				$($('.tableTools-container')).find('a.dt-button').each(function() {
					var div = $(this).find(' > div').first();
					if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
					else $(this).tooltip({container: 'body', title: $(this).text()});
				});
			}, 500);


			//And for the first simple table, which doesn't have TableTools or dataTables
			//select/deselect all rows according to table header checkbox
			var active_class = 'active';
			$('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
				var th_checked = this.checked;//checkbox inside "TH" table header

				$(this).closest('table').find('tbody > tr').each(function(){
					var row = this;
					if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
					else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
				});
			});
			//select/deselect a row when the checkbox is checked/unchecked
			$('#simple-table').on('click', 'td input[type=checkbox]' , function(){
				var $row = $(this).closest('tr');
				if($row.is('.detail-row ')) return;
				if(this.checked) $row.addClass(active_class);
				else $row.removeClass(active_class);
			});
			/***************/
			$('.show-details-btn').on('click', function(e) {
				e.preventDefault();
				$(this).closest('tr').next().toggleClass('open');
			});

			$('tr[service-id]').each(function () {
				var serviceRow = $(this);
				var serviceId = serviceRow.attr('service-id');
				serviceRow.find('button.btn-danger').click(function () {
					$.ajax({
						url: "/seller/update",
						data: {
							oper: "delete",
							id: serviceId
						},
						dataType: "json",
						method: "post"
					}).done(function (data) {
						serviceRow.addClass('hide');
						serviceRow.find('.service-status-js').text("删除");
					}).fail(function (data) {
						console.log(data);
					});
				});
			});
		});
	</script>
	{include file="seller/categories"  /}
	<script>
		jQuery(function ($) {
			$('.category-js').each(function () {
				var num = $(this).text();
				console.log(num);
				if(num) {
					var ol = num.substring(0, 2);
					if(province.hasOwnProperty(ol)) {
						$(this).html(province[ol] + "<br>");
						num = num.substring(2, 8);
						if (num) {
							var sl = num.substring(0, 2);
							if(city.hasOwnProperty(ol) && city[ol].hasOwnProperty(sl)) {
								$(this).html($(this).html() + city[ol][sl] + "<br>");
								num = num.substring(2, 6);
								if (num) {
									var tl = num.substring(0, 2);
									if(district.hasOwnProperty(ol) && district[ol].hasOwnProperty(sl)
											&& district[ol][sl].hasOwnProperty(tl)) {
										$(this).html($(this).html() + district[ol][sl][tl] + "<br>");
										num = num.substring(2, 4);
										if (num && end.hasOwnProperty(ol) && end[ol].hasOwnProperty(sl)
												&& end[ol][sl].hasOwnProperty(tl) && end[ol][sl][tl].hasOwnProperty(num)) {
											$(this).html($(this).html() + end[ol][sl][tl][num]);
										}
									}
								}
							}
						}
					}
				}
			});
		});
	</script>
</body>
</html>
