<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Service Specification</title>
	{include file="index/header" /}
  <link rel="stylesheet" href="/static/stylesheets/sass/service-stylesheet.css">
  <script src="/static/javascripts/signup-form-validation.module.js"></script>
</head>
<body ng-app="signUpFormValidator">
        {include file="index/navbar" nickname=$nickname /}
        {notempty name="nickname"}
                {include file="index/navbar_login" nickname=$nickname /}
        {/notempty}

<div class="jumbo-show-container_sm">
  <div class="jumbo-show-background" style="background-image: url('/static/images/5-1 6-1 7-1.jpg')">
  </div>
</div>
<div class="service-header">
  <div class="container">
    <div class="service-specification__header">
      <div class="provider-info-card">
        <div class="photo-container">
          <img src="/static/images/profile-07.png">
        </div>
        <div class="info-container">
          <h3><b>{$result.sellerName ?? ''}</b></h3>
          <p>{$result.area ?? ''}</p>
          <div class="score">
            <span><i class="fa fa-star golden-star"></i></span>
            <span><i class="fa fa-star golden-star"></i></span>
            <span><i class="fa fa-star golden-star"></i></span>
            <span><i class="fa fa-star golden-star"></i></span>
            <span><i class="fa fa-star golden-star"></i></span>
            <span>189</span>
          </div>
        </div>
      </div>
    </div>
    <div class="price-tag-container__header primary-price-tag">
      <div class="price-tag">
          <h3>{$result.name ?? ''}</h3>
          <h2><b>$1,500</b></h2>
      </div>
    </div>
  </div>
</div>
<div class="service-query">
  <div class="container">
    <form action="/apply" method="post">
      <div class="col-md-6">
        <h6 class="step-caption">第一步: 填写基本信息</h6>
        <div class="question-container primary-question-theme">
          <h6 class="question">目前是否在美国</h6>
          <div>
            <label class="control control-radio">
              是
              <input type="radio" name="withinUSA" value="true">
              <div class="control__indicator"></div>
            </label>
            <label class="control control-radio">
              否
              <input type="radio" name="withinUSA" value="false">
              <div class="control__indicator"></div>
            </label>
          </div>
        </div>
        <div class="question-container primary-question-theme">
          <h6 class="question">当前身份</h6>
          <div class="select">
            <select id="state" name="state">
              <option value="F1">学生F1-OPT</option>
              <option value="F2">F2</option>
              <option value="F3">F3</option>
            </select>
            <div class="select-arrow"></div>
          </div>
        </div>
        <div class="question-container primary-question-theme">
          <h6 class="question">当前身份到期时间</h6>
          <input type="text" id='month' name="month" class="digit-2-input"> |
          <input type="text" id='date' name="date" class="digit-2-input"> |
          <input type="text" id='year' name="year" class="digit-4-input">
        </div>
        <div class="question-container primary-question-theme">
          <h6 class="question">教育程度</h6>
          <div class="select">
            <select id="education" name="education">
              <option value="bachelor">学士</option>
              <option value="master">硕士</option>
              <option value="doctor">博士</option>
            </select>
            <div class="select-arrow"></div>
          </div>
        </div>
        <div class="question-container primary-question-theme">
          <h6 class="question">专业名称</h6>
          <div class="select">
            <select id="field" name="field">
              <option value="finance">金融</option>
              <option value="CS">计算机科学</option>
              <option value="EE">电子工程</option>
            </select>
            <div class="select-arrow"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h6 class="step-caption">第二步: 填写详细信息</h6>
        <div class="question-container primary-question-theme">
          <h6 class="question">请描述您的具体情况</h6>
          <textarea name="description" id="description" class="textarea-primary"></textarea>
        </div>
        <!-- <div>
          <button type="submit" class="btn btn-primary btn-lg">提交申请</button>
        </div> -->
      </div>
    </form>
    <button class="btn btn-primary btn-lg" style="margin-left: 20px" data-toggle="modal" data-target="#responseModal">提交申请</button>
  </div>
</div>

<div class="service-rc-block">
  <div class="container">
    <h4 class="bottom-space-2"><b>相关服务</b></h4>
    <div class="col-md-3 service-card">
      <div class="service-card-bg-sm" style="background-image: url('/static/images/1-7.jpg')">
        <div class="mask-caption v1-dark-mask">
          <h3 class="left-top">NYIS</h3>
          <div class="mask-content">
            <a class="btn btn-link btn-link-hdr">H1-B申请</a>
            <br>
            <div>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>73</span>
            </div>
          </div>
        </div>
      </div>
      <div class="service-card-bottom-padding">
        <h6>$2,100</h6>
        <p>由<a>NYIS Law Firm</a>提供</p>
      </div>
    </div>
    <div class="col-md-3 service-card">
      <div class="service-card-bg-sm" style="background-image: url('/static/images/1-7.jpg')">
        <div class="mask-caption v1-dark-mask">
          <h3 class="left-top">NYIS</h3>
          <div class="mask-content">
            <a class="btn btn-link btn-link-hdr">H1-B申请</a>
            <br>
            <div>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>73</span>
            </div>
          </div>
        </div>
      </div>
      <div class="service-card-bottom-padding">
        <h6>$2,100</h6>
        <p>由<a>NYIS Law Firm</a>提供</p>
      </div>
    </div>
    <div class="col-md-3 service-card">
      <div class="service-card-bg-sm" style="background-image: url('/static/images/1-7.jpg')">
        <div class="mask-caption v1-dark-mask">
          <h3 class="left-top">NYIS</h3>
          <div class="mask-content">
            <a class="btn btn-link btn-link-hdr">H1-B申请</a>
            <br>
            <div>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>73</span>
            </div>
          </div>
        </div>
      </div>
      <div class="service-card-bottom-padding">
        <h6>$2,100</h6>
        <p>由<a>NYIS Law Firm</a>提供</p>
      </div>
    </div>
    <div class="col-md-3 service-card">
      <div class="service-card-bg-sm" style="background-image: url('/static/images/1-7.jpg')">
        <div class="mask-caption v1-dark-mask">
          <h3 class="left-top">NYIS</h3>
          <div class="mask-content">
            <a class="btn btn-link btn-link-hdr">H1-B申请</a>
            <br>
            <div>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>73</span>
            </div>
          </div>
        </div>
      </div>
      <div class="service-card-bottom-padding">
        <h6>$2,100</h6>
        <p>由<a>NYIS Law Firm</a>提供</p>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="dark-ft">
    <div class="container">
      <div class="ft-content-row">
        <div class="col-md-6">
          <div class="ft-group">
            <h6 class="caption">关注我们</h6>
            <div class="qr-container">
              <img src="/static/images/qr-gz.png">
              <p>公众平台</p>
            </div>
            <div class="qr-container">
              <img src="/static/images/qr-gz.png">
              <p>公众平台</p>
            </div>
          </div>
          <div class="ft-group">
            <h6>海量干货，热点新闻</h6>
            <div class="inline-form-wrapper">
              <div class="inline-form">
                <form action="/e">
                  <div class="ipt-btn-group border-tsp-theme">
                    <label for="email"></label>
                    <input type="text" id="email" name="email" placeholder="输入邮箱地址">
                    <button type="submit"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <a class="btn btn-circle btn-circle-ft" href="//google.com"><div class="btn-circle-font-wrapper"> <i class="fa fa-facebook" aria-hidden="true"></i></div></a>
          <a class="btn btn-circle btn-circle-ft" href="//google.com"><div class="btn-circle-font-wrapper"> <i class="fa fa-weibo" aria-hidden="true"></i></div></a>
          <a class="btn btn-circle btn-circle-ft" href="//google.com"><div class="btn-circle-font-wrapper"> <i class="fa fa-twitter" aria-hidden="true"></i></div></a>
          <a class="btn btn-circle btn-circle-ft" href="//google.com"><div class="btn-circle-font-wrapper"> <i class="fa fa-envelope" aria-hidden="true"></i></div></a>
        </div>
        <div class="col-md-2 ft-group">
          <h6 class="caption">关于</h6>
          <a class="text-a"><p>NYIS团队</p></a>
          <a class="text-a"><p>联系我们</p></a>
          <a class="text-a"><p>合作伙伴</p></a>
        </div>
        <div class="col-md-2 ft-group">
          <h6 class="caption">工作机会</h6>
          <a class="text-a"><p>空缺职位</p></a>
          <a class="text-a"><p>校园大使</p></a>
        </div>
        <div class="col-md-2 ft-group">
          <h6 class="caption">发现</h6>
          <a class="text-a"><p>转载协议</p></a>
          <a class="text-a"><p>条款与隐私</p></a>
        </div>
      </div>
    </div>
  </div>
  <div class="primary-ft">
    <div class="container">
      <div class="ft-copyright-row">
        <div class="pull-left">&copy; 2016, NYIS Inc</div>
        <div class="pull-left">All Rights Reserved</div>
        <div class="pull-right">+1(800)685-NYIS(6947)</div>
      </div>
    </div>
  </div>
</footer>
<!-- login modal -->
{include file="index/login_modal" /}

<script type="text/javascript" src="/static/javascripts/autocomplete.js"></script>
<script type="text/javascript" src="/static/javascripts/login-signup-toggle.js"></script>
</body>
</html>
