<div class="service-rc-block">
  <div class="container">
    <h4 class="bottom-space-2"><b>最近浏览的服务</b></h4>
    <div class="col-md-3 service-card">
      <div class="service-card-bg-sm" style="background-image: url('/static/images/1-7.jpg')">
        <div class="mask-caption v1-dark-mask">
          <h3 class="left-top">NYIS</h3>
          <div class="mask-content">
            <a class="btn btn-link btn-link-hdr">H1-B申请</a>
            <br>
            <div>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>73</span>
            </div>
          </div>
        </div>
      </div>
      <div class="service-card-bottom-padding">
        <h6>$2,100</h6>
        <p>由<a>NYIS Law Firm</a>提供</p>
      </div>
    </div>
    <div class="col-md-3 service-card">
      <div class="service-card-bg-sm" style="background-image: url('/static/images/1-7.jpg')">
        <div class="mask-caption v1-dark-mask">
          <h3 class="left-top">NYIS</h3>
          <div class="mask-content">
            <a class="btn btn-link btn-link-hdr">H1-B申请</a>
            <br>
            <div>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>73</span>
            </div>
          </div>
        </div>
      </div>
      <div class="service-card-bottom-padding">
        <h6>$2,100</h6>
        <p>由<a>NYIS Law Firm</a>提供</p>
      </div>
    </div>
    <div class="col-md-3 service-card">
      <div class="service-card-bg-sm" style="background-image: url('/static/images/1-7.jpg')">
        <div class="mask-caption v1-dark-mask">
          <h3 class="left-top">NYIS</h3>
          <div class="mask-content">
            <a class="btn btn-link btn-link-hdr">H1-B申请</a>
            <br>
            <div>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>73</span>
            </div>
          </div>
        </div>
      </div>
      <div class="service-card-bottom-padding">
        <h6>$2,100</h6>
        <p>由<a>NYIS Law Firm</a>提供</p>
      </div>
    </div>
    <div class="col-md-3 service-card">
      <div class="service-card-bg-sm" style="background-image: url('/static/images/1-7.jpg')">
        <div class="mask-caption v1-dark-mask">
          <h3 class="left-top">NYIS</h3>
          <div class="mask-content">
            <a class="btn btn-link btn-link-hdr">H1-B申请</a>
            <br>
            <div>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>73</span>
            </div>
          </div>
        </div>
      </div>
      <div class="service-card-bottom-padding">
        <h6>$2,100</h6>
        <p>由<a>NYIS Law Firm</a>提供</p>
      </div>
    </div>
  </div>
</div>