  <footer id="footer">
    <div class="dark-ft">
      <div class="container">
        <div class="ft-content-row">
          <div class="col-md-6">
            <div class="ft-group">
              <h6 class="caption">关注我们</h6>
              <div class="qr-container">
                <img src="/static/images/qr-kf.png">
                <p>微信客服平台</p>
              </div>
              <div class="qr-container">
                <img src="/static/images/qr-gz.png">
                <p>微信公众平台</p>
              </div>
            </div>
            <div class="ft-group">
              <h6>海量干货，热点新闻</h6>
              <div class="inline-form-wrapper">
                <div class="inline-form">
                  <form action="/e">
                    <div class="ipt-btn-group border-tsp-theme">
                      <label for="email"></label>
                      <input type="text" id="email" name="email" placeholder="输入邮箱地址">
                      <button type="submit"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <a class="btn btn-circle btn-circle-ft" href="//google.com"><div class="btn-circle-font-wrapper"> <i class="fa fa-facebook" aria-hidden="true"></i></div></a>
            <a class="btn btn-circle btn-circle-ft" href="//google.com"><div class="btn-circle-font-wrapper"> <i class="fa fa-weibo" aria-hidden="true"></i></div></a>
            <a class="btn btn-circle btn-circle-ft" href="//google.com"><div class="btn-circle-font-wrapper"> <i class="fa fa-twitter" aria-hidden="true"></i></div></a>
            <a class="btn btn-circle btn-circle-ft" href="//google.com"><div class="btn-circle-font-wrapper"> <i class="fa fa-envelope" aria-hidden="true"></i></div></a>
          </div>
          <div class="col-md-2 ft-group">
            <h6 class="caption">关于</h6>
            <a class="text-a"><p>NYIS团队</p></a>
            <a class="text-a"><p>联系我们</p></a>
            <a class="text-a"><p>合作伙伴</p></a>
          </div>
          <div class="col-md-2 ft-group">
            <h6 class="caption">工作机会</h6>
            <a class="text-a"><p>空缺职位</p></a>
            <a class="text-a"><p>校园大使</p></a>
          </div>
          <div class="col-md-2 ft-group">
            <h6 class="caption">发现</h6>
            <a class="text-a"><p>转载协议</p></a>
            <a class="text-a"><p>条款与隐私</p></a>
          </div>
        </div>
      </div>
    </div>
    <div class="primary-ft">
      <div class="container">
        <div class="ft-copyright-row">
          <div class="pull-left">&copy; 2016, NYIS Inc</div>
          <div class="pull-left">All Rights Reserved</div>
          <div class="pull-right">+1(800)685-NYIS(6947)</div>
        </div>
      </div>
    </div>
  </footer>

