<footer id="footer">
  <div class="simplified-ft">
    <div class="container">
      <span><a href="/FQA">常见问题</a></span>
      <span><a href="/contactus">联系我们</a></span>
      <span><a href="/agreement">服务条款</a></span>
    </div>
  </div>
  <div class="primary-ft">
    <div class="container">
      <div class="ft-copyright-row">
        <div class="pull-left">&copy; 2016, NYIS Inc</div>
        <div class="pull-left">All Rights Reserved</div>
        <div class="pull-right">+1(800)685-NYIS(6947)</div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">
  var $zoho= $zoho || {salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");s.type="text/javascript";
  s.defer=true;s.src="https://salesiq.zoho.com/nyis/float.ls?embedname=nyis";
  t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
</script>


