<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="/static/stylesheets/sass/common-stylesheet.css">
<link rel="stylesheet" href="/static/stylesheets/sass/service-stylesheet.css">
<link rel="stylesheet" href="/static/stylesheets/sass/profile-stylesheet.css">
<link rel="stylesheet" href="/static/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/png" href="https://lh3.googleusercontent.com/OOKZ04nOyvVB8B7_ADSaRi6wFOTSVIq6LT_d9dpzG8HTEbu4qzlXxVJdVKDsj0ICjeWSpIgVL6pzzVD7mXa1_1yy_jtPG_5_YHcVPo65m-FPc72ntujAUmUH80-4IWVmutvALWwXUeNNLJFo2XinUWmLJ5QBCz0P8IK9ED4zw99qby4UsuqQot9ECcPz4xNND9RgPVGb7sMZ1VemfnXGGqQbRmWTVmpIQolmDi_MCBDc4ppyMA2vIgzakgkZQFqIaxZ-Rv5jmDo-SqyJfKA6HpozX91yv2BN8ZrmhfGp_nKh8Hx8swOiwW_gUhnTOCSElkBUiSKcxQG60UdoSV4RCYKFnILmFMAzXBAQt1QmFr8pII-D7AvRKgjhoK1NGDPoMAQ0N9zCqXz4hP8wnfwVWOlOXdhoEdzccTk3X8od-A6cc6u_HOoDR7zKgIGylZpu5qoWys6z2o_AYyojE9vIlLoXShS9QExMvOQRBp7zGWgFKtFpoX4ikbehBQg6tfChZpXH7vFYUQF8govuF6uODAprllNJHWoPAlyAUS_67tMh7qU_r9VN9pHSDMaN9G97ztmp0I3T-o4p3qTcWwBMduBWOPtztsg=s32-no">
<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/static/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="/static/bower_components/handlebars/handlebars.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.min.js"></script>
