<link rel="stylesheet" href="/assets/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="/static/stylesheets/sass/common-stylesheet.css">
<link rel="stylesheet" href="/static/stylesheets/sass/service-stylesheet.css">
<link rel="stylesheet" href="/static/stylesheets/sass/profile-stylesheet.css">
<link rel="stylesheet" href="/static/stylesheets/font-awesome-4.6.3/css/font-awesome.min.css">
<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/static/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="/static/bower_components/handlebars/handlebars.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.min.js"></script>
