<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index page of NYIS platform</title>
  <link rel="stylesheet" href="/stylesheets/font-awesome-4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/customize-font.css">
  <link rel="stylesheet" href="/stylesheets/sass/common-stylesheet.css">
  <link rel="stylesheet" href="/stylesheets/sass/index-stylesheet.css">
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div id="navbar" class="navbar clearfix navbar-tsp navbar-abs-top">
  <div class="comp pull-left">
    <a><i class="icon-nyis-logo"></i></a>
  </div>
  <div class="comp pull-right">
    <button class="btn btn-sm btn-hdr" data-toggle="modal" data-target="#loginModal">登录</button>
    <a class="btn btn-lang btn-hdr" href="/lang">EN</a>
  </div>
  <div class="comp pull-right">
    <a class="btn btn-link btn-link-hdr">小纽问答</a>
  </div>
  <div class="comp pull-right">
    <a class="btn btn-link btn-link-hdr">服务商城</a>
  </div>
</div>
<div class="jumbo-show-container_lg">
  <div class="jumbo-show-background" style="background-image: url('/images/0-1.jpg')">
  </div>
  <div class="jumbo-content__container text-center">
    <div class="v-full v-middle-container">
      <div class="v-middle">
        <div class="jumbo-caption">
          专业服务&nbsp;&nbsp;&nbsp;&nbsp;一网搞定
        </div>
        <div class="inline-form-wrapper">
        <div class="inline-form jumbo-form-theme sig-jumbo-form">
          <form action="/search-result.html">
            <div class="ipt-btn-group group">
              <label for="law-service"></label>
              <input type="text" id="law-service" name="lawService" placeholder="专业服务...">
              <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="clearfix row-top-bottom-padding">
    <div class="col-md-4 thumbnail-icon" >
      <img src="/images/market-icon.png">
      <a href="#1"><h4><b>服务商城</b></h4></a>
      <p>专业服务互联网化，轻松简便</p>
    </div>
    <div class="col-md-4 thumbnail-icon" >
      <img src="/images/ask-icon.png">
      <a href="#1"><h4><b>小纽问答</b></h4></a>
      <p>有问必答，有求必应</p>
    </div>
    <div class="col-md-4 thumbnail-icon" >
      <img src="/images/lawyer-icon.png">
      <a href="#1"><h4><b>律师大全</b></h4></a>
      <p>最权威的律师评价系统</p>
    </div>
  </div>
</div>
<div class="mosaic-row">
  <div class="mosaic-block-md">
    <div class="mosaic-background" style="background-image: url('/images/0-2.jpg')"></div>
    <div class="mask-caption v1-dark-mask">
      <div class="mask-content">
        <a class="btn btn-link btn-lg btn-link-hdr"><b>透明的价格</b></a>
        <p>整合全美注册律师, 优化常用法律服务,</p>
        <p>为用户提供一站式法律解决方案</p>
      </div>
    </div>
  </div>
</div>
<div class="container text-center sticker-container">
  <div class="clearfix row-top-bottom-padding">
    <h3 class="caption"><b>律师评价</b></h3>
    <div class="col-md-6">
      <div class="stick-li">
        <div class="stick-li-left">
          <img src="images/head-profile.png">
        </div>
        <div class="stick-li-right">
          <a><h5 class="name">Anjali Devudu</h5></a>
          <h5 class="title">移民律师</h5>
          <div class="rating-score golden-star">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <div class="begin-quote"><i class="fa fa-quote-left blue-quote" aria-hidden="true"></i></div>
          <div class="comment-content">律师非常负责任, 也很专业,。整个过程交流非常顺畅。一定会推荐她的服务给朋友。
          <i class="fa fa-quote-right blue-quote" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="stick-li">
        <div class="stick-li-left">
          <img src="images/head-profile.png">
        </div>
        <div class="stick-li-right">
          <a><h5 class="name">Anjali Devudu</h5></a>
          <h5 class="title">移民律师</h5>
          <div class="rating-score golden-star">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <div class="begin-quote"><i class="fa fa-quote-left blue-quote" aria-hidden="true"></i></div>
          <div class="comment-content">律师非常负责任, 也很专业,。整个过程交流非常顺畅。一定会推荐她的服务给朋友。
            <i class="fa fa-quote-right blue-quote" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mosaic-row">
  <div class="col-md-6 mosaic-col">
    <div class="mosaic-block-lg">
      <div class="mosaic-background" style="background-image: url('/images/news-1.png')"></div>
      <div class="mask-caption v1-dark-mask">
        <div class="mask-content">
          <a class="btn btn-link btn-lg btn-link-hdr">透明的价格</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mosaic-col">
    <div class="mosaic-block-md">
      <div class="mosaic-background" style="background-image: url('/images/news-2.png')"></div>
      <div class="mask-caption v1-dark-mask">
        <div class="mask-content">
          <a class="btn btn-link btn-md btn-link-hdr" style="width: 200px">一周内两名美国女性慢跑时遭残杀fdfd fsfa ds</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mosaic-col">
    <div class="mosaic-block-md">
      <div class="mosaic-background" style="background-image: url('/images/news-3.png')"></div>
      <div class="mask-caption v1-dark-mask">
        <div class="mask-content">
          <a class="btn btn-link btn-md btn-link-hdr" style="width: 200px">一周内两名美国女性慢跑时遭残杀</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mosaic-col">
    <div class="mosaic-block-md">
      <div class="mosaic-background" style="background-image: url('/images/news-4.png')"></div>
      <div class="mask-caption v1-dark-mask">
        <div class="mask-content">
          <a class="btn btn-link btn-md btn-link-hdr" style="width: 200px">一周内两名美国女性慢跑时遭残杀</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mosaic-col">
    <div class="mosaic-block-md">
      <div class="mosaic-background" style="background-image: url('/images/news-2.png')"></div>
      <div class="mask-caption v1-dark-mask">
        <div class="mask-content">
          <a class="btn btn-link btn-md btn-link-hdr" style="width: 200px">一周内两名美国女性慢跑时遭残杀</a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="dark-ft">
    <div class="container">
      <div class="ft-content-row">
        <div class="col-md-6">
          <div class="ft-group">
            <h6 class="caption">关注我们</h6>
            <div class="qr-container">
              <img src="/images/qr-gz.png">
              <p>公众平台</p>
            </div>
            <div class="qr-container">
              <img src="/images/qr-gz.png">
              <p>公众平台</p>
            </div>
          </div>
          <div class="ft-group">
            <h6>海量干货，热点新闻</h6>
            <div class="inline-form-wrapper">
              <div class="inline-form">
                <form action="/e">
                  <div class="ipt-btn-group border-tsp-theme">
                    <label for="email"></label>
                    <input type="text" id="email" name="email" placeholder="输入邮箱地址">
                    <button type="submit"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <a class="btn btn-circle btn-circle-ft" href="//google.com"><div class="btn-circle-font-wrapper"> <i class="fa fa-facebook" aria-hidden="true"></i></div></a>
          <a class="btn btn-circle btn-circle-ft" href="//google.com"><div class="btn-circle-font-wrapper"> <i class="fa fa-weibo" aria-hidden="true"></i></div></a>
          <a class="btn btn-circle btn-circle-ft" href="//google.com"><div class="btn-circle-font-wrapper"> <i class="fa fa-twitter" aria-hidden="true"></i></div></a>
          <a class="btn btn-circle btn-circle-ft" href="//google.com"><div class="btn-circle-font-wrapper"> <i class="fa fa-envelope" aria-hidden="true"></i></div></a>
        </div>
        <div class="col-md-2 ft-group">
          <h6 class="caption">关于</h6>
          <a class="text-a"><p>NYIS团队</p></a>
          <a class="text-a"><p>联系我们</p></a>
          <a class="text-a"><p>合作伙伴</p></a>
        </div>
        <div class="col-md-2 ft-group">
          <h6 class="caption">工作机会</h6>
          <a class="text-a"><p>空缺职位</p></a>
          <a class="text-a"><p>校园大使</p></a>
        </div>
        <div class="col-md-2 ft-group">
          <h6 class="caption">发现</h6>
          <a class="text-a"><p>转载协议</p></a>
          <a class="text-a"><p>条款与隐私</p></a>
        </div>
      </div>
    </div>
  </div>
  <div class="primary-ft">
    <div class="container">
      <div class="ft-copyright-row">
        <div class="pull-left">&copy; 2016, NYIS Inc</div>
        <div class="pull-left">All Rights Reserved</div>
        <div class="pull-right">+1(800)685-NYIS(6947)</div>
      </div>
    </div>
  </div>
</footer>

<!-- login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn btn-link btn-link-modal active" id="login-btn"><b>登录</b></button>
        <button class="btn btn-link btn-link-modal" id="signup-btn"><b>注册</b></button>
      </div>
      <div class="modal-body">
        <div id="signup-form" class="hidden">
          <form action="\signup">
            <div class="signup-option">
              <label class="control control-radio">
                注册用户
                <input type="radio" name="userType" value="client">
                <div class="control__indicator"></div>
              </label>
              <label class="control control-radio">
                注册律师
                <input type="radio" name="userType" value="lawyer">
                <div class="control__indicator"></div>
              </label>
            </div>
            <div class="full-size-ipt-wrapper">
              <label for="username"></label>
              <input  type="text" id="username" name="username" class="full-size-ipt underline-ipt" placeholder="邮箱">
              <span><i class="fa fa-user"></i></span>
            </div>
            <div class="full-size-ipt-wrapper">
              <label for="password"></label>
              <input  type="password" id="password" name="password" class="full-size-ipt underline-ipt" placeholder="密码">
              <span><i class="fa fa-key"></i></span>
            </div>
            <div class="full-size-ipt-wrapper">
              <label for="retypePassword"></label>
              <input  type="password" id="retypePassword" name="retypePassword" class="full-size-ipt underline-ipt" placeholder="确认密码">
              <span><i class="fa fa-key"></i></span>
            </div>
            <div class="login-button-wrapper">
              <button type="submit" class="btn btn-primary btn-login">注册</button>
            </div>
          </form>
        </div>
        <div id="login-form">
          <form action="\login">
            <div class="full-size-ipt-wrapper">
              <label for="username-login"></label>
              <input  type="text" id="username-login" name="username" class="full-size-ipt underline-ipt" placeholder="邮箱">
              <span><i class="fa fa-user"></i></span>
            </div>
            <div class="full-size-ipt-wrapper">
              <label for="password-login"></label>
              <input  type="password" id="password-login" name="password" class="full-size-ipt underline-ipt" placeholder="密码">
              <span><i class="fa fa-key"></i></span>
            </div>
            <div class="option-block">
              <label class="control control-checkbox">
                记住我
                <input type="checkbox" id="remember" name="remember">
                <div class="control__indicator"></div>
              </label>
              <a href="/forget" class="pull-right">忘记密码?</a>
            </div>
            <div class="login-button-wrapper">
              <button type="submit" class="btn btn-primary btn-login">登录</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('document').ready(function () {
    $('#login-btn').on('click', function () {
      var $this = $(this);
      if (!$this.hasClass('active')) {
        $this.addClass('active');
        $('#signup-form').addClass('hidden');
        $('#signup-btn').removeClass('active');
        $('#login-form').removeClass('hidden')
      }
    });
    $('#signup-btn').on('click', function () {
      var $this = $(this);
      if (!$this.hasClass('active')) {
        $('#login-btn').removeClass('active');
        $('#login-form').addClass('hidden');
        $this.addClass('active');
        $('#signup-form').removeClass('hidden')
      }
    });
  });
</script>

</body>
</html>
