  <!-- login modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="btn btn-link btn-link-modal active" id="login-btn"><b>登录</b></button>
          <button class="btn btn-link btn-link-modal" id="signup-btn"><b>注册</b></button>
        </div>
        <div class="modal-body">
          <div id="signup-form" class="hidden">
            <form action="/register" method="post">
		<!-- 
              <div class="signup-option">
                <label class="control control-radio">
                  注册用户
                  <input type="radio" name="userType" value="client">
                  <div class="control__indicator"></div>
                </label>
                <label class="control control-radio">
                  注册律师
                  <input type="radio" name="userType" value="lawyer">
                  <div class="control__indicator"></div>
                </label>
              </div>
		-->
              <div class="full-size-ipt-wrapper">
                <label for="email"></label>
                <input  type="text" id="email" name="email" class="full-size-ipt underline-ipt" placeholder="邮箱">
                <span><i class="fa fa-user"></i></span>
              </div>
              <div class="full-size-ipt-wrapper">
                <label for="nickname"></label>
                <input  type="text" id="nickname" name="nickname" class="full-size-ipt underline-ipt" placeholder="姓名">
                <span><i class="fa fa-user"></i></span>
              </div>
              <div class="full-size-ipt-wrapper">
                <label for="password"></label>
                <input  type="password" id="password" name="password" class="full-size-ipt underline-ipt" placeholder="密码">
                <span><i class="fa fa-key"></i></span>
              </div>
              <div class="full-size-ipt-wrapper">
                <label for="retypePassword"></label>
                <input  type="password" id="retypePassword" name="retypePassword" class="full-size-ipt underline-ipt" placeholder="确认密码">
                <span><i class="fa fa-key"></i></span>
              </div>
              <div class="login-button-wrapper">
                <button type="submit" class="btn btn-primary btn-login">注册</button>
              </div>
            </form>
          </div>
          <div id="login-form">
            <form action="/login" method="post">
              <div class="full-size-ipt-wrapper">
                <label for="email-login"></label>
                <input  type="text" id="email-login" name="email" class="full-size-ipt underline-ipt" placeholder="邮箱">
                <span><i class="fa fa-user"></i></span>
              </div>
              <div class="full-size-ipt-wrapper">
                <label for="password-login"></label>
                <input  type="password" id="password-login" name="password" class="full-size-ipt underline-ipt" placeholder="密码">
                <span><i class="fa fa-key"></i></span>
              </div>
              <div class="option-block">
                <label class="control control-checkbox">
                  记住我
                  <input type="checkbox" id="remember" name="remember">
                  <div class="control__indicator"></div>
                </label>
                <a href="/forget" class="pull-right">忘记密码?</a>
              </div>
              <div class="login-button-wrapper">
                <button type="submit" class="btn btn-primary btn-login">登录</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <script>
    $('document').ready(function () {
      $('#login-btn').on('click', function () {
        var $this = $(this);
        if (!$this.hasClass('active')) {
          $this.addClass('active');
          $('#signup-form').addClass('hidden');
          $('#signup-btn').removeClass('active');
          $('#login-form').removeClass('hidden')
        }
      });
      $('#signup-btn').on('click', function () {
        var $this = $(this);
        if (!$this.hasClass('active')) {
          $('#login-btn').removeClass('active');
          $('#login-form').addClass('hidden');
          $this.addClass('active');
          $('#signup-form').removeClass('hidden')
        }
      });
      $('#search-service-form [type="submit"]').on('click', function (e) {
        e.preventDefault();
        window.location.href = "/search-result.html";
      });
    });
  </script>-->

