  <!-- login modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="btn btn-link btn-link-modal active" id="login-btn"><b>登录</b></button>
          <button class="btn btn-link btn-link-modal" id="signup-btn"><b>注册</b></button>
        </div>
        <div class="modal-body" ng-controller="mainCtrl">
          <p style="color: #fc7777;text-align: center;display: none" class="login-warning">请先登录</p>
          <div id="signup-form" class="hidden">
            <form action="/register" method="post" name="signUpForm">
		<!-- 
              <div class="signup-option">
                <label class="control control-radio">
                  注册用户
                  <input type="radio" name="userType" value="client">
                  <div class="control__indicator"></div>
                </label>
                <label class="control control-radio">
                  注册律师
                  <input type="radio" name="userType" value="lawyer">
                  <div class="control__indicator"></div>
                </label>
              </div>
		-->
              <div class="full-size-ipt-wrapper">
                <label for="email"></label>
                <input  type="email" id="email" name="email"
                        class="full-size-ipt underline-ipt" placeholder="邮箱"
                        autocomplete="off"
                        required ng-model="username"
                >
                <span><i class="fa fa-user"></i></span>
              </div>
              <div ng-show="signUpForm.email.$touched" class="warning-sm">
                <span ng-show="signUpForm.email.$error.required">请填写邮箱</span>
                <span ng-show="signUpForm.email.$error.email">邮箱格式不正确</span>
              </div>
              <div class="full-size-ipt-wrapper">
                <label for="nickname"></label>
                <input  type="text" id="nickname" name="nickname"
                        class="full-size-ipt underline-ipt" placeholder="用户名"
                        autocomplete="off"
                        required ng-model="nickname"
                >
                <span><i class="fa fa-user"></i></span>
              </div>
              <div ng-show="signUpForm.nickname.$touched" class="warning-sm">
                <span ng-show="signUpForm.nickname.$error.required">请填写用户名</span>
              </div>
              <div class="full-size-ipt-wrapper">
                <label for="password"></label>
                <input  type="password" id="password" name="password"
                        class="full-size-ipt underline-ipt" placeholder="密码"
                        autocomplete="off"
                        required ng-model="password"
                >
                <span><i class="fa fa-key"></i></span>
              </div>
              <div ng-show="signUpForm.password.$touched" class="warning-sm">
                <span ng-show="signUpForm.password.$error.required">请输入密码</span>
              </div>
              <div class="full-size-ipt-wrapper">
                <label for="retypePassword"></label>
                <input  type="password" id="retypePassword" name="retypePassword"
                        class="full-size-ipt underline-ipt" placeholder="确认密码"
                        autocomplete="off"
                        required ng-model="rePassword"
                >
                <span><i class="fa fa-key"></i></span>
              </div>
              <div ng-show="signUpForm.retypePassword.$touched" class="warning-sm">
                <span ng-show="rePassword != password">两次输入不一致</span>
              </div>
              <div class="login-button-wrapper">
                <button type="submit" class="btn btn-primary btn-login"
                        ng-disabled="!signUpForm.email.$valid ||
                             !signUpForm.password.$valid ||
                             rePassword != password">注册</button>
              </div>
            </form>
          </div>
          <div id="login-form">
            <form action="/login" method="post">
              <div class="full-size-ipt-wrapper">
                <label for="email-login"></label>
                <input  type="text" id="email-login" name="email" class="full-size-ipt underline-ipt" placeholder="邮箱">
                <span><i class="fa fa-user"></i></span>
              </div>
              <div class="full-size-ipt-wrapper">
                <label for="password-login"></label>
                <input  type="password" id="password-login" name="password" class="full-size-ipt underline-ipt" placeholder="密码">
                <span><i class="fa fa-key"></i></span>
              </div>
              <div class="option-block">
                <label class="control control-checkbox">
                  记住我
                  <input type="checkbox" id="remember" name="remember">
                  <div class="control__indicator"></div>
                </label>
                <a href="/forget" class="pull-right">忘记密码?</a>
              </div>
              <div class="login-button-wrapper">
                <button type="submit" class="btn btn-primary btn-login">登录</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


