<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>user profile</title>
  {include file="index/header" /}
	<style>
		.case-block{
			min-height: 700px;
		}
	</style>
</head>
<body>
{include file="index/navbar" nickname=$nickname /}
<div class="profile-header">
  <div class="container">
    <div class="profile-photo">
      <img src="/static/images/profile-07.png">
    </div>
    <div class="caption">
      {$Think.lang.view_my_account}
    </div>
    <a href="/profile">
      <div class="pull-right icon-container">
        <div class="icon-lg">
          <i class="icon-profile-icon"></i>
        </div>
        <h6>{$Think.lang.view_my_info}</h6>
      </div>
    </a>
    <div class="pull-right icon-container active">
      <div class="icon-lg">
        <i class="icon-case-folder" aria-hidden="true"></i>
      </div>
      <h6>{$Think.lang.view_my_cases}</h6>
    </div>
  </div>
</div>
<div class="container panel-container">
  <div class="case-block">
    <div class="case-table-container">
      <h4>{$Think.lang.view_my_cases}</h4>
      <div class="case-table">
        {volist name="cases" id="vo"}
        <div class="case-row">
          <div class="case-date">
            <h6>JUL</h6>
            <h5>02</h5>
          </div>
          <div class="case-title">
            {$vo.name ?? ''}
          </div>
          <div class="case-provider">
            代理律师: {$vo.sellerName ?? ''}
          </div>
          <div class="case-status">
            <div class="btn status-badge">
              {$vo.status ?? ''}
            </div>
          </div>
        </div>
        {/volist}
      </div>
    </div>
  </div>
</div>

{include file="index/footer_clean"  /}
</body>
</html>
