<div id="navbar" class="navbar clearfix navbar-dark">
  <div class="comp pull-left nav-logo">
    <a href="/index.html"><i class="icon-nyis-logo" style="font-size: 20px"></i></a>
  </div>
  <div class="inline-form nav-form-theme combo-nav-form">
    <form action="/s" id="search-service-form">
      <div class="sig-ipt group">
        <label for="category"></label>
        <input type="text" id="category" name="category" style="display:none">
        <label for="legal-service"></label>
        <input type="text" class="tt-input" id="legal-service" name="legalService" placeholder="法律服务...">
      </div>
      <div class="ipt-btn-group group">
        <label for="location"></label>
        <input type="text" id="location" class="tt-input" name="location" placeholder="所在州...">
        <label for="std-location"></label>
        <input type="text" id="std-location" name="stdLocation" style="display: none">
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </form>
  </div>
  <div class="comp pull-right">
	{empty name="nickname"}
    <button class="btn btn-sm btn-hdr" data-toggle="modal" data-target="#loginModal">登录</button>
	{/empty}
    <a href="/lang" class="btn btn-lang btn-hdr">EN</a>
  </div>
  <div class="comp pull-right">
    <a class="btn btn-link" href="//ask.nyis.com">小纽问答</a>
  </div>
  <div class="comp pull-right">
    <a class="btn btn-link" href="/market-index.html">服务商城</a>
  </div>
</div>

