  <div id="navbar" class="navbar clearfix navbar-dark">
    <div class="comp pull-left nav-logo">
      <a href="/"><i class="icon-nyis-logo"></i></a>
    </div>
    <div class="comp pull-right">
	{empty name="nickname"}
      <button class="btn btn-sm btn-hdr" data-toggle="modal" data-target="#loginModal">登录</button>
	{/empty}
      <a href="/lang" class="btn btn-lang btn-hdr">EN</a>
    </div>
    <div class="comp pull-right">
      <a class="btn btn-link" href="http://ask.nyis.com">小纽问答</a>
    </div>
    <div class="comp pull-right">
      <a class="btn btn-link" href="http://market.nyis.com">服务商城</a>
    </div>
  </div>

