<div id="navbar" class="navbar navbar-fixed-top clearfix navbar-dark">
  <div class="comp pull-left nav-logo">
    <a href="/index.html"><i class="icon-market-logo"></i></a>
  </div>
  <div class="comp pull-right">
	{empty name="nickname"}
    <button class="btn btn-sm btn-hdr" data-toggle="modal" data-target="#loginModal">登录</button>
	{/empty}
    <a href="/?lang=en-us" class="btn btn-lang btn-hdr">EN</a>
  </div>
  <div class="comp pull-right">
    <a class="btn btn-link btn-link-hdr" href="http://lawyer.nyis.com">律师大全</a>
  </div>
  <div class="comp pull-right">
    <a class="btn btn-link btn-link-hdr" href="http://ask.nyis.com">小纽问答</a>
  </div>
  <div class="comp pull-right">
    <a class="btn btn-link btn-link-hdr" href="/">服务商城</a>
  </div>
  {notempty name="nickname"}
    <div class="comp pull-right" id="account-comp">
    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    <a href="#" class="dropdown-toggle"
       data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">

      您的账户 <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile">个人资料</a></li>
      <li><a href="/mycases">订单详情</a></li>
      <li><a href="/logout">登出</a></li>
    </ul>
  </div>
  {/notempty}
  <div class="inline-form nav-form-theme combo-nav-form pull-right">
    <form action="/s" id="search-service-form">
      <div class="sig-ipt group">
        <label for="category"></label>
        <input type="text" id="category" name="category" style="display:none">
        <label for="legal-service"></label>
        <input type="text" class="tt-input" id="legal-service" name="legalService" placeholder="法律服务...">
      </div>
      <div class="ipt-btn-group group">
        <label for="location"></label>
        <input type="text" id="location" class="tt-input" name="location" placeholder="所在州...">
        <label for="std-location"></label>
        <input type="text" id="std-location" name="stdLocation" style="display: none">
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </form>
  </div>
</div>

