  <div class="container">
    <div class="clearfix row-top-padding text-center">
      <h3 class="bottom-space-2"><b>推荐律师</b></h3>
      <div class="col-md-4 lawyer-card-container" >
        <div class="lawyer-card dark-blue-card">
          <a href="//nyislawfirm.com">
            <div class="p-photo">
              <img src="/static/images/top-lawyer-01.png">
            </div>
            <div class="name-loc">
              <h6>Charles D. Maurer, Jr.</h6>
              <h6>南加州地区</h6>
            </div>
            <div class="rating-score">
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>156</span>
            </div>
            <div class="badge-container">
              <div class="badge side-space-2">商业诉讼</div>
              <div class="badge side-space-2">地产交易</div>
              <div class="badge side-space-2">刑事诉讼</div>
              <div class="badge side-space-2">民事诉讼</div>
              <div class="badge side-space-2">移民法</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 lawyer-card-container" >
        <div class="lawyer-card dark-blue-card">
          <a href="//nyislawfirm.com">
            <div class="p-photo">
              <img src="/static/images/top-lawyer-02.png">
            </div>
            <div class="name-loc">
              <h6>Anjali Devudu</h6>
              <h6>纽约、新泽西地区</h6>
            </div>
            <div class="rating-score">
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>73</span>
            </div>
            <div class="badge-container">
              <div class="badge side-space-2">移民</div>
              <div class="badge side-space-2">民事诉讼</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 lawyer-card-container" >
        <div class="lawyer-card dark-blue-card">
          <a href="//nyislawfirm.com">
            <div class="p-photo">
              <img src="/static/images/top-lawyer-03.png">
            </div>
            <div class="name-loc">
              <h6>Carly Wiskoff</h6>
              <h6>纽约、新泽西地区</h6>
            </div>
            <div class="rating-score">
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>48</span>
            </div>
            <div class="badge-container">
              <div class="badge side-space-2">移民</div>
              <div class="badge side-space-2">商业</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

