  <div class="container">
    <div class="clearfix row-top-padding text-center">
      <h3 class="bottom-space-2"><b>推荐律师</b></h3>
      <div class="col-md-4 lawyer-card-container" >
        <div class="lawyer-card dark-blue-card">
          <a href="#">
            <div class="p-photo">
              <img src="/static/images/profile-photo.png">
            </div>
            <div class="name-loc">
              <h6>Anjali Devudu</h6>
              <h6>纽约 新泽西</h6>
            </div>
            <div class="rating-score">
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>73</span>
            </div>
            <div class="badge-container">
              <div class="badge side-space-2">移民</div>
              <div class="badge side-space-2">移民</div>
              <div class="badge side-space-2">移民</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 lawyer-card-container" >
        <div class="lawyer-card dark-blue-card">
          <a href="#">
            <div class="p-photo">
              <img src="/static/images/profile-photo.png">
            </div>
            <div class="name-loc">
              <h6>Anjali Devudu</h6>
              <h6>纽约 新泽西</h6>
            </div>
            <div class="rating-score">
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>73</span>
            </div>
            <div class="badge-container">
              <div class="badge side-space-2">移民</div>
              <div class="badge side-space-2">移民</div>
              <div class="badge side-space-2">移民</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 lawyer-card-container" >
        <div class="lawyer-card dark-blue-card">
          <a href="#">
            <div class="p-photo">
              <img src="/static/images/profile-photo.png">
            </div>
            <div class="name-loc">
              <h6>Anjali Devudu</h6>
              <h6>纽约 新泽西</h6>
            </div>
            <div class="rating-score">
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <i class="fa fa-star golden-star" aria-hidden="true"></i>
              <span>73</span>
            </div>
            <div class="badge-container">
              <div class="badge side-space-2">移民</div>
              <div class="badge side-space-2">移民</div>
              <div class="badge side-space-2">移民</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

