<script type="text/javascript">
  jQuery(function ($) {
    $.validator.addMethod("phone", function (value, element) {
      return this.optional(element) || /^\(\d{3}\)\d{3}-\d{4}$/.test(value);
    }, "please provide a valid phone number");
    $.validator.addMethod("ssn", function (value, element) {
      return this.optional(element) || /^\d{3}-\d{2}-\d{4}$/.test(value);
    }, "please provide a valid social security number");
    $.validator.addMethod('mdy', function (value, element) {
      if(!this.optional(element)) {
        var mdy = value.split('/');
        if(mdy[0] > 12 || mdy[0] <= 0)
          return false;
        return mdy[1] > 0 && mdy[1] <= 31;
      }
      return true;
    }, "please provide a valid date");
    $('#address-info-query-form').validate({
      focusInvalid: false,
      ignore: "",
      highlight: function (e) {
        $(e).addClass('warning');
      },
      unhighlight: function (e) {
        $(e).removeClass('warning');
      },
      rules: {
        mailingStreet: 'required',
        mailingCity: 'required',
        mailingState: 'required',
        mailingZip: 'required',
        consulateStreet: 'required',
        consulateCity: 'required',
        consulateState: 'required',
        consulateZip: 'required',
        consulateCountry: 'required'
      },
      messages: {
        mailingStreet: '',
        mailingCity: '',
        mailingState: '',
        mailingZip: '',
        consulateStreet: '',
        consulateCity: '',
        consulateState: '',
        consulateZip: '',
        consulateCountry: ''
      },
      submitHandler: function(form){
        $(form).parent().css('display', 'none').next().css('display', 'block');
      },
      invalidHandler: function(form){
        $('.tip-info.warning').removeClass('hidden');
      }
    });
  })
</script>