<div style="width: 700px;display:none;" class="query-block">
  <form action="/aa" id="personal-info-query-form">
    <div class="quote-form primary-theme">
      <div class="quote-form-title">申请人-个人信息</div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="sub-block-title">基本信息</div>
            </div>
            <div class="col-md-6">
              <label for="first-name"></label>
              <input type="text" id='first-name' name="firstName" placeholder="名字" autocomplete="off">
            </div>
            <div class="col-sm-6">
              <label for="last-name"></label>
              <input type="text" id='last-name' name="lastName" placeholder="姓氏" autocomplete="off">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label for="born-country"></label>
              <input type="text" id='born-country' name="bornCountry" placeholder="出生国家" autocomplete="off">
            </div>
            <div class="col-sm-6">
              <label for="nationality"></label>
              <input type="text" id='nationality' name="nationality" placeholder="国籍" autocomplete="off">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="select">
                <select id="gender" name="gender">
                  <option value selected style="display: none">性别</option>
                  <option value="male">男</option>
                  <option value="female">女</option>
                </select>
                <div class="select-arrow"></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="select">
                <select id="marital-status" name="maritalStatus">
                  <option value selected style="display: none">婚姻状况</option>
                  <option value="single">单身</option>
                  <option value="married">已婚</option>
                  <option value="divorced">离婚</option>
                  <option value="widowed">丧偶</option>
                </select>
                <div class="select-arrow"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="personal-email"></label>
              <input type="text" id='personal-email' name="personalEmail" placeholder="电子邮件" autocomplete="off">
            </div>
            <div class="col-sm-6">
              <label for="personal-cellphone"></label>
              <input type="text" id='personal-cellphone' class="input-mask-phone" name="personalCellphone" placeholder="手机号码" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-12">
              <div class="sub-block-title">护照信息</div>
            </div>
            <div class="col-sm-6">
              <label for="passport-issue-country"></label>
              <input type="text" id='passport-issue-country' name="passportIssueCountry" placeholder="护照签发国家" autocomplete="off">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label for="passport-issue-date"></label>
              <input type="text" id='passport-issue-date' class="input-mask-date" name="passportIssueDate" placeholder="护照签发日期" autocomplete="off">
            </div>
            <div class="col-sm-6">
              <label for="passport-expire-date"></label>
              <input type="text" id='passport-expire-date' class="input-mask-date" name="passportExpireDate" placeholder="护照过期日期" autocomplete="off">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <button class="btn btn-lg btn-primary next-step" type="submit">下一步</button>
      </div>
    </div>
  </form>
</div>
