<div style="width: 700px;display:inline-block;">
  <form action="/aa" id="personal-info-query-form">
    <div class="quote-form primary-theme">
      <div class="quote-form-title">申请人1-个人信息</div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="sub-block-title">基本信息</div>
            </div>
            <div class="col-md-6">
              <label for="first-name"></label>
              <input type="text" id='first-name' name="firstName" placeholder="名字" autocomplete="off">
            </div>
            <div class="col-sm-6">
              <label for="last-name"></label>
              <input type="text" id='last-name' name="lastName" placeholder="姓氏" autocomplete="off">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label for="born-country"></label>
              <input type="text" id='born-country' name="bornCountry" placeholder="出生国家" autocomplete="off">
            </div>
            <div class="col-sm-6">
              <label for="nationality"></label>
              <input type="text" id='nationality' name="nationality" placeholder="国籍" autocomplete="off">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="select">
                <select id="gender" name="gender">
                  <option value selected style="display: none">性别</option>
                  <option value="male">男</option>
                  <option value="female">女</option>
                </select>
                <div class="select-arrow"></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="select">
                <select id="marital-status" name="maritalStatus">
                  <option value selected style="display: none">婚姻状况</option>
                  <option value="single">单身</option>
                  <option value="married">已婚</option>
                  <option value="divorced">离婚</option>
                  <option value="widowed">丧偶</option>
                </select>
                <div class="select-arrow"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="personal-email"></label>
              <input type="text" id='personal-email' name="personalEmail" placeholder="电子邮件" autocomplete="off">
            </div>
            <div class="col-sm-6">
              <label for="personal-cellphone"></label>
              <input type="text" id='personal-cellphone' name="personalCellphone" placeholder="手机号码" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-12">
              <div class="sub-block-title">护照信息</div>
            </div>
            <div class="col-sm-6">
              <label for="passport-issue-country"></label>
              <input type="text" id='passport-issue-country' name="passportIssueCountry" placeholder="护照签发国" autocomplete="off">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label for="passport-issue-date"></label>
              <input type="text" id='passport-issue-date' name="passportIssueDate" placeholder="护照签发日期" autocomplete="off">
            </div>
            <div class="col-sm-6">
              <label for="passport-expire-date"></label>
              <input type="text" id='passport-expire-date' name="passportExpireDate" placeholder="护照过期日期" autocomplete="off">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <button class="btn btn-lg btn-primary" id="next-step" type="submit">下一步</button>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  jQuery(function ($) {
    $('.input-mask-phone').mask('(999)999-9999');
    $('.input-mask-ssn').mask('999-99-9999');
    $('.input-mask-date-mdy').mask('99/99/9999');
    $.validator.addMethod("phone", function (value, element) {
      return this.optional(element) || /^\(\d{3}\)\d{3}-\d{4}$/.test(value);
    }, "please provide a valid phone number");
    $.validator.addMethod("ssn", function (value, element) {
      return this.optional(element) || /^\d{3}-\d{2}-\d{4}$/.test(value);
    }, "please provide a valid social security number");
    $.validator.addMethod('mdy', function (value, element) {
      if(!this.optional(element)) {
        var mdy = value.split('/');
        if(mdy[0] > 12 || mdy[0] <= 0)
          return false;
        return mdy[1] > 0 && mdy[1] <= 31;
      }
      return true;
    }, "please provide a valid date");
    $('#personal-info-query-form').validate({
      focusInvalid: false,
      ignore: "",
      highlight: function (e) {
        $(e).addClass('warning');
      },
      unhighlight: function (e) {
        $(e).removeClass('warning');
      },
      rules: {
        firstName: {
          required: true
        },
        gender: {
          required: true
        },
        lastName: 'required',
        personalEmail: {
          required: true,
          email: true
        },
        personalCellphone: {
          required: true,
          phone: 'required'
        },
        ssn: {
          required: true,
          ssn: 'required'
        },
        dob: {
          required: true,
          mdy: 'required'
        },
        birthCity: 'required',
        bornState: 'required',
        bornCountry: 'required',
        nationality: 'required',
        alienNumber: 'required',
        maritalStatus: 'required',
        major: 'required',
        degree: 'required',
        passportIssueCountry: 'required',
        passportIssueDate: {
          required: true,
          mdy: 'required'
        },
        passportExpireDate: {
          required: true,
          mdy: 'required'
        }
      },
      messages: {
        firstName: "",
        gender: "",
        lastName: "",
        personalEmail: "",
        personalCellphone: "",
        ssn: "",
        dob: "",
        birthCity: "",
        bornState: "",
        bornCountry: "",
        nationality: "",
        alienNumber: "",
        maritalStatus: "",
        major: "",
        degree: "",
        passportIssueCountry: "",
        passportIssueDate: "",
        passportExpireDate: ""
      },
      submitHandler: function(form){
        $(form).parent().css('display', 'none').next().css('display', 'block');
      },
      invalidHandler: function(form){
        $('.tip-info.warning').removeClass('hidden');
      }
    });
    $('#passport-issue-date').datepicker();
    $('#passport-expire-date').datepicker();
  })
</script>