<div class="query-block" style="width: 400px;display:none;">
  <form action="/aa" id="relatives-info-query-form">
    <div class="quote-form primary-theme">
      <div class="quote-form-title">申请人1-亲属信息</div>
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <button class="btn btn-sm btn-primary" type="button" id="add-relative">添加亲属</button>
          </div>
        </div>
      </div>
      <br>
      <div id="relative-list">
      </div>
      <div class="row text-center">
        <button class="btn btn-lg btn-primary next-step" type="submit">下一步</button>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  jQuery(function ($) {
    $('#relatives-info-query-form').validate({
      focusInvalid: false,
      ignore: "",
      highlight: function (e) {
        $(e).addClass('warning');
      },
      unhighlight: function (e) {
        $(e).removeClass('warning');
      },
      submitHandler: function(form){
        $(form).parent().css('display', 'none').next().css('display', 'block');
      },
      invalidHandler: function(form){
        $('.tip-info.warning').removeClass('hidden');
      }
    });
    var relativeList = $('#relative-list');
    var relativeNum = 0;
    function appendRelativeNode(index){
      var node = "<div id='relative-entry" + index + "' class='relative-entry-js'>" +
          "<div class='row'>" +
          "<div class='col-md-6'>" +
          "<div class='select'>" +
          "<select class='relative-relationship-js' name='relationship" + index + "'>" +
          "<option value selected style='display:none;'>关系</option> " +
          "<option value='spouse'>配偶</option> " +
          "<option value='fiance'>未婚夫（妻）</option>" +
          "</select>" +
          "<div class='select-arrow'></div>" +
          "</div></div>" +
          "<div class='col-md-6'>" +
          "<div class='select'> " +
          "<select class='relative-gender-js' name='gender" + index +"'>" +
          "<option value selected style='display:none'>性别</option> " +
          "<option value='male'>男</option> " +
          "<option value='female'>女</option> " +
          "</select>"+
          "<div class='select-arrow'></div></div></div></div> " +
          "<div class='row'><div class='col-md-12'> " +
          "<input type='text' class='relative-first-name-js' name='relativeFirstName" + index + "' placeholder='名字'></div>" +
          "<div class='col-md-12'> " +
          "<input type='text' class='relative-last-name-js' name='relativeLastName" + index + "' placeholder='姓氏' ></div>" +
          "</div>" +
          (relativeNum > 1 ?"<div class='row' style='text-align: right'>" +
          "<a style='text-decoration: underline; line-height: 1.6' target='relative-entry" + index + "'>删除</a> " +
          "</div>" : "") +
          "<br></div>";
      relativeList.append(node);
      var propsProto = ["relationship", "gender", "relativeFirstName", "relativeLastName"];
      $.each(propsProto, function (i, v) {
        $("[name=" + v + index + "]").rules("add",{
          required: true,
          messages: {
            required: ""
          }
        });
      })
    }
    (function () {
      relativeNum++;
      appendRelativeNode(relativeNum);
    })();
    $('#add-relative').click(function () {
      relativeNum++;
      appendRelativeNode(relativeNum);
    });
    relativeList.click(function (e) {
      var eventTarget = $(e.target);
      $('#' + eventTarget.attr('target')).remove();
    });
  })
</script>
